<!DOCTYPE html>
<html ng-app="Ex2App">
<head>
    <meta charset="utf-8" />
    <title>Angular App</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/app.js"></script>
</head>
<body>
    <!-- Input -->
    <div ng-controller="Ex2Controller">
        {{Ex2Val}}
        <input type="text" ng-model="Ex2Val" />
        <hr />

        <!-- Alert -->
        <input type="button" ng-click="Ex2Func()" value="Submit" />

        <!-- Alert with args -->
        <input type="button" ng-click="Ex2FuncParam(Ex2Val)" value="Click me!" />
    </div>
</body>
</html>